<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Agregar</router-link> 
      <router-link to="/ver">Ver</router-link>
    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
@import "/assets/scss/app.scss";
</style>
