<template>
  <div id="agregar">
    <form class="form" @submit.prevent="guardarActividad()">
      <h3>Nombre de Actividad</h3>
      <input v-model="guardar.nombre" required class="input" type="text" />

      <h3>Definir intervalo de horas</h3>
      <input
        v-model="guardar.horaInicio"
        class="input"
        type="time"
        min="00:00"
        max="23:59"
        required
      />
      <input
        v-bind:disabled="guardar.horaInicio == '' ? '' : disabled"
        v-model="guardar.horaFin"
        class="input"
        type="time"
        :min="guardar.horaInicio"
        max="23:59"
        required
      />
      <h3>Descripccion de actividad</h3>
      <textarea
        v-model="guardar.descripccion"
        required
        class="textarea"
        name=""
        id=""
        cols="30"
        rows="10"
      ></textarea>

      <h3>Nombre de archivo</h3>
      <p v-if="guardar.archivo != ''">
        (Asegurate de tener el file cargado en la carpeta correspondiente [ver
        informe])
      </p>
      <input
        v-model="guardar.archivo"
        placeholder="Ej: musica_2.mp3"
        type="text"
        class="input"
        required
      />
      <br />
      <br />

      <button type="submit" class="button">Agregar</button>

      <div
        v-if="mostrarMensaje"
        v-bind:class="['response', resClass ? 'good' : 'bad']"
      >
        {{ respuesta }}
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "Home",
  components: {},
  data() {
    return {
      guardar: {
        nombre: "",
        horaInicio: "",
        horaFin: "",
        descripccion: "",
        archivo: "",
      },
      mostrarMensaje: false,
      respuesta: "nel",
      resClass: null,
    };
  },
  methods: {
    comprobarNombreArchivo() {
      return this.guardar.archivo.endsWith(".mp3") ||
        this.guardar.archivo.endsWith(".mp4")
        ? true
        : false;
    },

    guardarActividad() {
      if (this.comprobarNombreArchivo()) {
        const aGuardar = this.guardar;
        localStorage.setItem(`${aGuardar.nombre}`, JSON.stringify(aGuardar));

        this.mostrarRespuesta("Actividad Guardada Correctamente", true);
      } else {
        this.mostrarRespuesta(
          "Extension de nombre de archivo no valida,(.mp3|.mp4)",
          false
        );
      }
    },

    mostrarRespuesta(mensaje, tipo) {
      this.mostrarMensaje = true;
      this.respuesta = mensaje;
      //Bueno
      if (tipo) {
        this.resClass = true;

        this.guardar = {
          nombre: "",
          horaInicio: "",
          horaFin: "",
          descripccion: "",
          archivo: "",
        };

        //Malo
      } else {
        this.resClass = false;
      }
    },
  },
};
</script>
