<template>
  <div id="ver">
    <h2>En Curso</h2>

    <h3 v-if="mostrarActividades.length == 0 && actividades.length > 0">
      No hay ninguna actividad para esta hora
    </h3>
    <h3 v-if="mostrarActividades.length == 0 && actividades.length == 0">
      No hay actividades aun <router-link to="/">Crea una</router-link>
    </h3>

    <div v-if="mostrarActividades.length > 0">
      <div
        v-bind:key="key"
        v-for="(actividad, key) in mostrarActividades"
        class="media-container"
      >
        <h3>{{ actividad.nombre }}</h3>
        <p>
          {{ actividad.descripccion }}
        </p>
        <div class="media-container__name">
          <b>{{ actividad.archivo }} </b> - (De {{ actividad.horaInicio }} hasta
          {{ actividad.horaFin }})
        </div>

        <video
          v-if="actividad.archivo.endsWith('.mp4')"
          :src="`/media/${actividad.archivo}`"
          type="video/mp4"
          controls
        ></video>

        <audio
          v-if="actividad.archivo.endsWith('.mp3')"
          :src="`/media/${actividad.archivo}`"
          preload="auto"
          controls
        ></audio>
      </div>
    </div>

    <div v-if="actividades.length > 0" class="side">
      <h3>Todas</h3>
      <hr />

      <div
        v-bind:key="key"
        v-for="(actividad, key) in actividades"
        class="item"
      >
        <div :class="isInRange(actividad.nombre) ? 'bold' : ''">
          {{ actividad.nombre }}
        </div>
        <div>{{ actividad.horaInicio }}-{{ actividad.horaFin }}</div>
        <div @click="borrarActividad(actividad.nombre)" class="borrar">X</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      actividades: [],
      mostrarActividades: [],
    };
  },

  methods: {
    borrarActividad(nombre) {
      this.mostrarActividades.forEach((el) => {
        if (el.nombre == nombre) {
          this.mostrarActividades.splice(el, 1);
        }
      });
      this.actividades.forEach((el) => {
        if (el.nombre == nombre) {
          this.actividades.splice(el, 1);
        }
      });

      localStorage.removeItem(nombre);
    },
    isInRange(nombre) {
      let esta = 0;
      this.mostrarActividades.forEach((el) => {
        if (el.nombre == nombre) {
          esta++;
        }
      });

      if (esta > 0) {
        return true;
      }
    },
    contar() {
      setTimeout(() => {
        this.verificarRangoHora();
        this.contar();
      }, 2000);
    },

    verificarRangoHora() {
      const actividadesMostrar = [];

      const horas = new Date();
      this.actividades.forEach((actividad) => {
        let inicio = actividad.horaInicio;
        let fin = actividad.horaFin;
        const iniciar = new Date();
        iniciar.setHours(inicio.split(":", 2)[0], inicio.split(":", 2)[1], 0);
        const finalizar = new Date();
        finalizar.setHours(fin.split(":", 2)[0], fin.split(":", 2)[1], 0);

        if (horas >= iniciar && horas < finalizar) {
          actividadesMostrar.push(actividad);
        }
      });

      if (actividadesMostrar != this.mostrarActividades) {
        this.mostrarActividades = actividadesMostrar;
      }
    },
  },

  mounted() {
    this.verificarRangoHora();

    setTimeout(this.contar(), 1000);
  },

  created() {
    Object.keys(localStorage).forEach((item) => {
      if (item != "loglevel:webpack-dev-server") {
        this.actividades.push(JSON.parse(localStorage.getItem(item)));
      }
    });
  },
};
</script>
