body {
  margin: 0;
  background-color: rgb(230, 230, 230);
}
#agregar,
#ver {
  margin-top: 40px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  box-shadow: 0px -1px 7px 5px rgba(0, 0, 0, 0.38);
  background-color: rgb(210, 210, 210);
  box-sizing: border-box;
  padding: 20px;
  a {
    margin: 0 10px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    padding: 7px 12px;
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      background-color: #5e8674;
      color: #ffffff;
    }
  }
}
.button {
  cursor: pointer;
  border: none;
  background: #6b60bf;
  color: white;
  font-weight: 600;
  border: 3px solid rgba(0, 0, 0, 0.14);
  font-size: 15px;
  border-radius: 6px;
  padding: 7px 15px;
  transition: 0.3s;
  &:hover {
    transform: scale(1.05);
    background-color: #5c53a2;
  }
}
.input {
  margin: 0 15px;
  border: none;
  border-radius: 3px;
  height: 23px;
  font-size: 16px;
  padding-left: 15px;
}
.form {
  margin: 40px 0;
  &__file {
    margin: 20px 0;
  }
}
.textarea {
  font-size: 16px;
  width: 340px;
  height: 80px;
  padding: 15px;
}
.media-container {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: fit-content;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__name {
    font-size: 17px;
    margin: 5px 0;
  }
}
video {
  max-height: 300px;
}
.response {
  width: fit-content;
  margin: 20px auto;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 4px solid rgba(0, 0, 0, 0.07);
  color: #e6e6e6;
  border-radius: 5px;

  &.good {
    background: rgba(88, 228, 53, 0.73);
  }
  &.bad {
    background: rgba(222, 29, 29, 0.73);
  }
}

.side {
  position: fixed;
  top: 90px;
  left: -30px;
  transition: all 0.5s;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background: white;
  width: 160px;
  .item {
    position: relative;
    margin: 10px 20px;
    padding: 10px;
    .borrar {
      cursor: pointer;
      position: absolute;
      background-color: red;
      color: white;
      font-size: 12px;
      width: 23px;
      height: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      right: -10px;
      top: calc(50% - 12px);
    }
  }
  &:hover {
    left: 0px;
    width: 200px;
  }
}
.bold {
  font-weight: 600;
}
audio{
  margin: 0 auto;
}